/* 主页样式表 */

.topbar-wrapper{
  /* 设置宽度全屏 */
  width: 100%;
  background-color: #333;
  /* 设置高和行高 */
  height: 40px;
  line-height: 40px;
}

a{
  text-decoration: none;
  display: block;
}

.topbar a{
  font-size: 12px;
  color: #b0b0b0;
}

/* 设置超链接鼠标移入效果 */
.topbar a:hover{
  color: white;
}

/* 设置中间分隔线 */
.topbar .line{
  color: #424242;
  margin: 0 8px;
}

.shop-cart,.user-info{
  float: right;
}

.service,.topbar li{
  float: left;
}

/* 设置二维码 */
.service .app{
  position: relative;
}

.service .app:hover .qrcode{ 
  height: 148px;
}

.service .app:hover::after{
  display: block;
}

/* 设置小三角 */
.service .app::after{
  content: '';
  display: none;
  width: 0;
  height: 0;
  position: absolute;
  border: 8px solid transparent;
  border-top: none;
  border-bottom-color: white;
  /* 设置居中显示 */
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  
}

.service .app .qrcode{
  position: absolute;
  /* display: none; */
  left: -38px;
  width: 124px;
  height: 0px;
  overflow: hidden;
  background-color: white;
  line-height: 1;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,.3);
  /* 设置过渡效果 */
  transition: height 2s;
  z-index: 100;
}

.service .app .qrcode span{
  color: #000;
  font-size: 14px;
}

.service .app .qrcode img{
  width: 90px;
  margin: 10px;
}

.shop-cart{
  margin-left: 26px;
}

.shop-cart a{
  width: 120px;
  text-align: center;
  background-color: #424242;
}

.shop-cart i{
  margin-right: 2px;
}

.shop-cart:hover a{
  background-color: #fff;
  color: #ff6700;
}

/* 设置中间的高度 */
.header{
  height: 100px;
  background-color: #fff;
}

.header .logo{
  float: left;
  margin-top: 22px;
}

.header .logo a{
  width: 55px;
  height: 55px;
  display: block;
  /* 设置链接背景 */
  background-image: url(../image/logo-mi2.png);
  background-size: 55px;
}

.header .nav-wrapper{
  float: left;
  margin-left: 7px;
  background-color: rgba(0,0,0,.6);
}



.nav-wrapper .all-goods-wrapper{
  position: relative;
}

.nav-wrapper .nav > li{
  float: left;
}

.nav-wrapper .nav>li>a{
  font-size: 16px;
  color: #000;
  margin-right: 20px;
  display: block;
  height: 100px;
}

.nav-wrapper li a:hover{
  color: #ff6700;
}

.header .nav{
  width: 792px;
  background-color: #fff;
  height: 100px;
  line-height: 100px;
  padding-left: 58px;
}

.all-goods{
  visibility: hidden;
}

.header-wrapper{
  position: relative;
}

.goods-info{
  /* height: 228px; */
  height: 0;
  width: 100%;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 100px;
  transition: height 0.3s;
  z-index: 3;
}

/* 设置左侧导航条 */
.left-menu{
  width: 234px;
  height: 420px;
  position: absolute;
  left: -120px;
  background-color: rgba(0,0,0,.6);
  line-height: 1;
  padding: 20px 0;
  z-index: 2;
}

.left-menu li a{
  color: white;
  display: block;
  height: 42px;
  line-height: 42px;
  width: 194px;
  margin-right: 0;
  padding-left: 20px;
  padding-right: 20px;
}

.left-menu li a:hover{
  color: white;
  background-color: #ff6700;
}
.left-menu li a i{
  float: right;
  line-height: 42px;
}


/* .header .nav li:not(:first-of-type):not(:last-of-type):not(:nth-of-type(9)):hover ~ .goods-info, */
.header .nav .show-goods:hover ~ .goods-info,
.goods-info:hover{
  height: 228px;
  border-top: 1px solid rgb(224,224,224);
  box-shadow: 0 5px 3px rgba(0,0,0,.2);
}

/* 设置搜索框 */
.search-wrapper{
  width: 296px;
  height: 50px;
  float: right;
  margin-top: 25px;
}

.search-wrapper .search-inp{
  box-sizing: border-box;
  float: left;
  height: 50px;
  padding: 0;
  border: none;
  width: 222px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 16px;
  border: 1px solid rgb(224,224,224);
  outline: none;
}

.search-wrapper .search-inp:focus,
.search-wrapper .search-inp:focus + button{
  outline: 1px solid #ff6700;
}
.search-wrapper .search-btn{
  float: left;
  height: 50px;
  width: 52px;
  padding: 0;
  border: none;
  background-color: white;
  color: #616161;
  font-size: 16px;
  border: 1px solid rgb(224,224,224);
  border-left: none;
}

.search-wrapper .search-btn:hover{
  background-color: #ff6700;
  color: #fff;
}

/* 设置banner */
.banner{
  position: relative;
  height: 460px;
}

.banner .img-list li{
  position: absolute;
}
.banner img{
  width: 100%;
  vertical-align: top;
}
/* 设置导航点 */
.pointer{
  position: absolute;
  bottom: 22px;
  right: 35px;
  /* z-index: 9999; */
}

.pointer a{
  float: left;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin-left: 8px;
  background-color: rgba(0,0,0,.4);
  border: 2px solid rgba(255, 255, 255, .5);
}

.pointer a:active,a.active{
  background-color: rgba(255, 255, 255, .5);
  border: 2px solid rgba(0, 0, 0, .4);
  
}

/* 设置两个箭头 */
.prev-next a{
  position: absolute;
  width: 41px;
  height: 69px;
  top: 0;
  bottom: 0;
  margin: auto;
  background-image: url(../image/icon-slides.png);
  
}

.prev-next .prev{
  left: 234px;
  background-position: -84px 0;
}

.prev-next .next{
  right: 0;
  background-position: -125px 0;
}

.prev-next .prev:hover{
  background-position: 0 0;
}

.prev-next .next:hover{
  background-position: -42px 0;
}

/* 右侧工具栏 */
.right-toolbar-wrapper{
  position: fixed;
  bottom: 70px;
  right: 0;
  z-index: 99;
}

.right-toolbar-wrapper a{
  position: relative;
  display: block;
  width: 82px;
  height: 90px;
  background-color: #fff;
  border: 1px solid #f5f5f5;
  text-align: center;
  color: #333;
}

.right-toolbar-wrapper a:hover{
  color: #ff6700;
}

.right-toolbar-wrapper .item .icon{
  width: 30px;
  height: 30px;
  position: relative;
  margin: 0 auto 8px;
  padding-top: 18px;
}

.right-toolbar-wrapper .item .icon img{
  width: 30px;
  height: 30px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.right-toolbar-wrapper .item .icon img:nth-of-type(2){
  display: none;
}

.right-toolbar-wrapper .item:hover img:nth-of-type(2){
  display: block;
}

.right-toolbar-wrapper .item1 .libao-wrapper{
  position: absolute;
  left: -134px;
  top: 0;
  background: #fff;
  border: 1px solid #f5f5f5;
  padding: 14px;
  visibility: hidden;
}

.right-toolbar-wrapper .item1:hover .libao-wrapper{
  visibility: visible;
}

.right-toolbar-wrapper .item1 .libao-wrapper img{
  width: 100px;
  height: 100px;
  display: block;
}
.right-toolbar-wrapper .item1 .libao-wrapper span{
  display: block;
  width: 82px;
  margin: 14px auto 0;
  text-align: center;
}

/* 中间 */
.home-row{
  width: 100%;
  height: 170px;
  margin: 25px 0;
}
.home-row .home-left{
  background: #5f5750;
  width: 234px;
  height: 170px;
  float: left;
}

.home-row .shortcut{
  padding: 3px;
}

.home-row .shortcut li{
  float: left;
  width: 70px;
  height: 80px;
  padding: 0 3px;
  position: relative;
}

.home-row .shortcut li::before{
  content: '';
  position: absolute;
  width: 64px;
  height: 1px;
  background-color: #665e57;
  left: 0;
  right: 0;
  top: 0;
  margin: 0 auto;
}

.home-row .shortcut li::before{
  content: '';
  position: absolute;
  width: 64px;
  height: 1px;
  background-color: #665e57;
  left: 0;
  right: 0;
  top: 0;
  margin: 0 auto;
}

.home-row .shortcut li::after{
  content: '';
  position: absolute;
  width: 1px;
  height: 64px;
  background-color: #665e57;
  left: 0;
  bottom: 0;
  top: 0;
  margin: auto 0;
}

.home-row .shortcut li img{
  display: block;
  width: 24px;
  height: 24px;
  margin: 0 auto 4px;
  filter:brightness(80%)
}

.home-row .shortcut li a{
  display: block;
  padding-top: 18px;
  color: #cfccca;
  text-align: center;
}

.home-row .shortcut li a:hover{
  color: #fff;
}

.home-row .shortcut li a:hover img{
  filter:brightness(100%)
}

/* 中部右侧 */
.home-row .home-right{
  float: left;
  width: 978px;
  margin-left: 14px;
}

.home-row .home-right li{
  float: left;
}

.home-row .home-right .second,
.home-row .home-right .three{
  margin-left: 14px;
}

.home-row .home-right img{
  width: 316px;
  height: 170px;
}